@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a fragment href="/Home/Test">Test</a>
    <div class="x"></div>
    <div class="x"></div>
    <div class="r1">Test</div>
    <div class="r2">Test</div>
</div>
